body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  padding: 0px 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background-color: black;
  opacity: .8;
  z-index: 1;
}

#nav-bar {
  flex-grow: 1;
  text-align: right;
}

#nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  margin: 0 40px;
}

#nav-bar a:hover {
  color: rgba(155, 235, 159, 0.5);
}

.pimg1, .pimg2, .pimg3 {
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.7); 
  
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:600px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.flex-container {
  display: flex;
  justify-content: center;

}

.flex-image {
  /* height: 500px; */
  /* width: 500px; */
  /* background-color: cadetblue; */
  align-items: center;
  margin: 20px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 72px;
}

.section{
  text-align:center;
  padding:50px 80px;
  height: 100%;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  /* background-color:#282e34; */
  /* background: transparent;
  color:#ddd; */
}

.pg1text{
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  /* text-transform:uppercase; */
  height: 60px;
  line-height: 60px;
}

.pg1text .border{
  background-color:#fff;
  color:#111;
  padding:40px;
  display: inline-block;
  font-size: 1.5em;
  border: 5px solid;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.social-icons {
  letter-spacing: 40px;
}

.social-icons a {
  text-decoration: none;
}

.icon {
  color: rgb(109, 107, 3);
  text-decoration: none;
  margin: 20px;
  }

.icon:hover {
  color: rgb(54, 88, 55);
  
}

.last-name {
  color: rgb(4, 104, 9);
  font-size: 2em;
}


.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  
}

.ptext .border{
  background-color: #fff;
  color: #111;
  padding: 20px;
  border: 2px solid;
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
  /* background-color:#fff; */
  /* color:#111; */
  /* padding:40px; */
  display: inline-block;
  /* font-size: 1.5em; */
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.ptext .border .border{
  /* border: 2px solid; */
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .flex-image {
    margin: 5px 5px;
      
  }
}


@media (max-width: 1030px) {
  #nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  #nav-bar a {
    font-size: 1.3em;
  }

  .flex-container {
    flex-direction: column;
  }
  .section{
    height: auto;
  }

  h1 {
    font-size: 36px;
  }
}